<!DOCTYPE html>
<!--
	作者：xiong
	时间：2018-08-04
	描述：
-->
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../../css/index.css" />
		<link rel="stylesheet" href="param_set.css" />
		<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=kQCfNwYZ429f1S4PGfHEl9KoTbrUSvsV"></script>

	</head>

	<body>
		<p class="set_title">api选择</p>
		<div class="radio_btn" >
			<input type="radio" name="radio_api" value="1">百度
			<input type="radio" name="radio_api" value="2">高德
		</div>
		<p class="set_title">地图级别选择</p>	
		<div class="radio_btn" >
			<input type="radio" name="radio" value="1">14
			<input type="radio" name="radio" value="2">15
			<input type="radio" name="radio" value="3" checked>16
			<input type="radio" name="radio" value="4">17
		</div>
		
		<p class="set_title">地市选择</p>
		<select class="radio_btn"  style="width: 100px;" name="pro" id="pro">
			<option value="1">北京</option>
			<option value="2">上海</option>
			<option value="3">天津</option>
			<option value="4">河北</option>

		</select>

		<div style="width: 300px;height: 100%;">
			<div id="allmap" style="width: 60%;"></div>
		</div>
	</body>
	<script type="text/javascript" src="../../js/index.js"></script>

</html>