<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>Title</title>
		<link rel="stylesheet" href="login.css" />
	</head>

	<body>
		<div class="login_div">
			<img class="login_img" src="../../login-img.docx.png" />
			<div class="login_right">
				<img class="login_logo" src="../../static/images/login-logo.png" />
				<div class="login_input ">
					<input class="login_name" id="username" placeholder="用户名"/>
				</div>
				<div class="login_input">
					<input class="login_psd" type="password" id="userpsd" placeholder="密码"/>
				</div>
				<button class="login_btn">登录</button>
			</div>
		</div>
		<div class="login_rights">
			<p>Copyright © 2018 敏捷小组2班技术支持</p>
		</div>

	</body>

</html>