<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>数据采集</title>
		<link rel="stylesheet" href="data-get.css" />
		<script src="data-get.js"></script>
		<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=bbMVKmETGRmWKtRT7nsWDRQBwcCdtvmF"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/3.4.0/echarts.min.js " ></script>
	</head>
	<body>
		<div class="index_head">
			<img class="index_logo" src="../../static/images/index_logo.png" />
			<ul class="menu_ul">
				<li>
					<a href="../index/index.html" target="iframe_a">
						首页</a>
				</li>
				<li>
					<a href="../data-import/data-import.html" target="iframe_a">
						数据导出</a>
				</li>
				<li>
					<a href="../data-get/data-get.html" target="iframe_a">
						数据采集</a>
				</li>
				<li>
					<a href="../user-manage/user-manage.html" target="iframe_a">
						系统管理</a>
				</li>
				<li>
					<a href="https://www.baidu.com/" target="iframe_a">
						关于</a>
				</li>
			</ul>
			<div class="index_mine">
				<span>当前在线人数: 51</span>
				<img src="../../static/images/index_userimg.png" class="user_img" style="margin-right: 5px;width: 31px;height: 30px;
" />
				<span>Hi，马邦德</span>
				<img src="../../static/images/index_message.png" />
				<img src="../../static/images/index_help.png" />
				<img src="../../static/images/index_loginout.png" />
			</div>
		</div>

		<div class="content">
			<div class="btn">
				<select onchange="schange();" id="provs">
					<option value="-1">省份</option>
					<option value="0">北京市</option>
					<option value="1">天津市</option>
					<option value="2">上海市</option>
					<option value="3">重庆市</option>
					<option value="4">河北省</option>
					<option value="5">山西省</option>
					<option value="6">内蒙古</option>
					<option value="7">辽宁省</option>
					<option value="8">吉林省</option>
					<option value="9">黑龙江省</option>
					<option value="10">江苏省</option>
					<option value="11">浙江省</option>
					<option value="12">安徽省</option>
					<option value="13">福建省</option>
					<option value="14">江西省</option>
					<option value="15">山东省</option>
					<option value="16">河南省</option>
					<option value="17">湖北省</option>
					<option value="18">湖南省</option>
					<option value="19">广东省</option>
					<option value="20">广西</option>
					<option value="21">海南省</option>
					<option value="22">四川省</option>
					<option value="23">贵州省</option>
					<option value="24">云南省</option>
					<option value="25">西藏</option>
					<option value="26">陕西省</option>
					<option value="27">甘肃省</option>
					<option value="28">青海省</option>
					<option value="29">宁夏</option>
					<option value="30">新疆</option>
					<option value="31">香港</option>
					<option value="32">澳门</option>
					<option value="33">台湾省</option>
					<option value="34">其它</option>
				</select>
				<select id="city">
					<option>地市</option>
				</select>

				<select id="scenario">
					<option value="-1">场景</option>
					<option value="0">小区</option>
					<option value="1">高校</option>
					<option value="2">景区</option>
					<option value="3">交通枢纽</option>
					<option value="4">商业购物</option>
					<option value="5">宾馆酒店</option>
					<option value="6">公园广场</option>
					<option value="7">政企单位</option>
				</select>
				<button class="PoiFetch">启动</button><br/><br/>
			</div>

		</div>
		<div id="allmap"></div>
		<div id="r-result">input:<input type="text" id="suggestId" size="20" value="Baidu" style="width:150px;" /></div>
		<div id="searchResultPanel" style="border:1px solid #C0C0C0;width:150px;height:auto; display:none;"></div>
        <div id="chartBnum" ></div>
        <div id="chartPnum" ></div>
        
        
        
	</body>

	<script type="text/javascript">
		function G(id) {
			return document.getElementById(id);
		}
		var map = new BMap.Map("allmap");
		var point = new BMap.Point(102.49395377099094, 24.331552333311514);
		map.centerAndZoom(point, 15);
		var ac = new BMap.Autocomplete({
			"input": "suggestId",
			"location": map
		});
		ac.addEventListener("onhighlight", function(e) {
			var str = "";
			var _value = e.fromitem.value;
			var value = "";
			if(e.fromitem.index > -1) {
				value = _value.province + _value.city + _value.district + _value.street + _value.business;
			}
			str = "FromItem<br />index = " + e.fromitem.index + "<br />value = " + value;
			value = "";
			if(e.toitem.index > -1) {
				_value = e.toitem.value;
				value = _value.province + _value.city + _value.district + _value.street + _value.business;
			}
			str += "<br />ToItem<br />index = " + e.toitem.index + "<br />value = " + value;
			G("searchResultPanel").innerHTML = str;
		});
		var myValue;
		ac.addEventListener("onconfirm", function(e) {
			var _value = e.item.value;
			myValue = _value.province + _value.city + _value.district + _value.street + _value.business;
			G("searchResultPanel").innerHTML = "onconfirm<br />index = " + e.item.index + "<br />myValue = " + myValue;
			setPlace();
		});

		function setPlace() {
			function myFun() {
				var pp = local.getResults().getPoi(0).point;
				map.centerAndZoom(pp, 18);
				map.addOverlay(new BMap.Marker(pp));
			}
			var local = new BMap.LocalSearch(map, {
				onSearchComplete: myFun
			});
			local.search(myValue);
		}
		var B036D0064C = new BMap.Polygon([
			new BMap.Point(102.5467022080862, 24.370773601350958),
			new BMap.Point(102.54718635869082, 24.370962793371294),
			new BMap.Point(102.5477883777641, 24.37109428336289),
			new BMap.Point(102.54831634353607, 24.37121896628246),
			new BMap.Point(102.54813827475259, 24.372115924920763),
			new BMap.Point(102.54793219970587, 24.37301987656967),
			new BMap.Point(102.54786841521307, 24.373229852628313),
			new BMap.Point(102.54774259306521, 24.373385757741666),
			new BMap.Point(102.54747977879056, 24.37352556122099),
			new BMap.Point(102.54718993679855, 24.37364740479503),
			new BMap.Point(102.54642010387457, 24.37378929306881),
			new BMap.Point(102.54610411719678, 24.37382538697509),
			new BMap.Point(102.54538988696801, 24.373706864848284),
			new BMap.Point(102.54515976889736, 24.373645104942458),
			new BMap.Point(102.5453685755267, 24.37337981357371),
			new BMap.Point(102.5447300467322, 24.373027559364306),
			new BMap.Point(102.54514763495793, 24.3724508502403),
			new BMap.Point(102.54663215607059, 24.370719583687325),
			new BMap.Point(102.5467022080862, 24.370773601350958),
		], {
			strokeColor: "blue",
			strokeWeight: 2,
			strokeOpacity: 0.5
		});
		var B036D00XUR = new BMap.Polygon([
			new BMap.Point(102.49622844913328, 24.32881652098456),
			new BMap.Point(102.49696035448066, 24.33026142447468),
			new BMap.Point(102.49765090751202, 24.329850472413053),
			new BMap.Point(102.49656736960225, 24.328134871558333),
			new BMap.Point(102.49654031105665, 24.328150089972684),
			new BMap.Point(102.49622844913328, 24.32881652098456),
		], {
			strokeColor: "blue",
			strokeWeight: 2,
			strokeOpacity: 0.5
		});

		function add_overlay() {
			map.addOverlay(B036D0064C);
			map.addOverlay(B036D00XUR);
		}
		add_overlay();
		var PI = 3.1415926535897932384626;
		var a = 6378245.0;
		var ee = 0.00669342162296594323;

		function bd09togcj02(bd_lon, bd_lat) {
			var x_pi = 3.14159265358979324 * 3000.0 / 180.0;
			var x = bd_lon - 0.0065;
			var y = bd_lat - 0.006;
			var z = Math.sqrt(x * x + y * y) - 0.00002 * Math.sin(y * x_pi);
			var theta = Math.atan2(y, x) - 0.000003 * Math.cos(x * x_pi);
			var gg_lng = z * Math.cos(theta);
			var gg_lat = z * Math.sin(theta);
			return [gg_lng, gg_lat]
		};

		function transformlat(lng, lat) {
			var ret = -100.0 + 2.0 * lng + 3.0 * lat + 0.2 * lat * lat + 0.1 * lng * lat + 0.2 * Math.sqrt(Math.abs(lng));
			ret += (20.0 * Math.sin(6.0 * lng * PI) + 20.0 * Math.sin(2.0 * lng * PI)) * 2.0 / 3.0;
			ret += (20.0 * Math.sin(lat * PI) + 40.0 * Math.sin(lat / 3.0 * PI)) * 2.0 / 3.0;
			ret += (160.0 * Math.sin(lat / 12.0 * PI) + 320 * Math.sin(lat * PI / 30.0)) * 2.0 / 3.0;
			return ret
		};

		function transformlng(lng, lat) {
			var ret = 300.0 + lng + 2.0 * lat + 0.1 * lng * lng + 0.1 * lng * lat + 0.1 * Math.sqrt(Math.abs(lng));
			ret += (20.0 * Math.sin(6.0 * lng * PI) + 20.0 * Math.sin(2.0 * lng * PI)) * 2.0 / 3.0;
			ret += (20.0 * Math.sin(lng * PI) + 40.0 * Math.sin(lng / 3.0 * PI)) * 2.0 / 3.0;
			ret += (150.0 * Math.sin(lng / 12.0 * PI) + 300.0 * Math.sin(lng / 30.0 * PI)) * 2.0 / 3.0;
			return ret
		};

		function out_of_china(lng, lat) {
			return(lng < 72.004 || lng > 137.8347) || ((lat < 0.8293 || lat > 55.8271) || false);
		};

		function gcj02towgs84(lng, lat) {
			if(out_of_china(lng, lat)) {
				return [lng, lat]
			} else {
				var dlat = transformlat(lng - 105.0, lat - 35.0);
				var dlng = transformlng(lng - 105.0, lat - 35.0);
				var radlat = lat / 180.0 * PI;
				var magic = Math.sin(radlat);
				magic = 1 - ee * magic * magic;
				var sqrtmagic = Math.sqrt(magic);
				dlat = (dlat * 180.0) / ((a * (1 - ee)) / (magic * sqrtmagic) * PI);
				dlng = (dlng * 180.0) / (a / sqrtmagic * Math.cos(radlat) * PI);
				mglat = lat + dlat;
				mglng = lng + dlng;
				return [lng * 2 - mglng, lat * 2 - mglat]
			}
		};

		map.addEventListener("dragstart", function(evt) {　　
			var cp = map.getCenter();
		});

		map.addEventListener("dragging", function(evt) {
			var offsetPoint = new BMap.Pixel(evt.offsetX, evt.offsetY); //记录鼠标当前点坐标<br>  

		});

		map.addEventListener("dragend", function showInfo() {
			var bounds = map.getBounds();
			//   bsSouthWest=bounds.getSouthWest();
			//   bsNorthEast=bounds.getNorthEast();
			var stpA = bd09togcj02(bounds.getSouthWest().lng, bounds.getSouthWest().lat);
			var stpB = bd09togcj02(bounds.getNorthEast().lng, bounds.getNorthEast().lat);
			var ss = gcj02towgs84(stpA[0], stpA[1]);
			var ss2 = gcj02towgs84(stpB[0], stpB[1]);
			minlng = ss[0];
			maxlng = ss2[0];
			minlat = ss[1];
			maxlat = ss2[1];
			// alert(minlng + "," + maxlng + "," + minlat + "," + maxlat);

		});
		
		 
		
		
		var myChart = echarts.init(document.getElementById('chartBnum'));
		var myChart1 = echarts.init(document.getElementById('chartPnum'));
		
    var options={
        //定义一个标题
        title:{
            text:'BoundNum'
        },
        legend:{
            data:['']
        },
        //X轴设置
        xAxis:{
            data:['大学','小区','景区','政企','公园']
        },
        yAxis:{
        },
        //name=legend.data的时候才能显示图例
        series:[{
            name:'Num',
            type:'bar',
            data:['12','32','45','78','60']
        }]
 
    };
    
    var options1={
        //定义一个标题
        title:{
            text:'PoiNum'
        },
        legend:{
            data:['']
        },
        //X轴设置
        xAxis:{
            data:['大学','小区','景区','政企','公园']
        },
        yAxis:{
        },
        //name=legend.data的时候才能显示图例
        series:[{
            name:'Num',
            type:'bar',
            data:['112','302','205','178','160']
        }]
 
    };
    
    
    myChart.setOption(options);
   myChart1.setOption(options1);
		
		
	</script>