body,
html {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    min-width: 1125px;
}

* {
    margin: 0px;
    padding: 0px;
    list-style-type:none
}

.content {
   margin: 70px 0 0 1%;
    width: 98%;
    height: 18%;
    position: absolute;    
   border: 1px solid gainsboro;
     background: white;  
}


.content ul li{
	font-size:5px;
	color: black;
}



.content div {
    width: 98%;
    height: 33px;
    margin: 1.5px;
    overflow:hidden;
}
.select_btn {
	float: right;
	margin: 0 40px 0 0;
	width: 112px;
	height: 33px;
	border: 1px solid gainsboro;
	background: white;
	color: black;
	border-radius: 3px;
}

.select_btn :hover {
	background: blue;
	color: white;
}




#pr {
	 position: absolute;
    left: 2px;
    color: black;
    font-size:5px;
    top:12px;
}

#province {
     position: absolute;
    left: 32px;
    width: 112px;
    height: inherit;
   border: 1px solid gainsboro;
    border-radius: 3px;
    	background: white;
	color: black;
}



#cy {
	 position: absolute;
    left: 150px;
  color: black;
    font-size:5px;
    top:12px;
    
}

#city {
    position: absolute;
    left: 180px;
    width: 112px;
    height: inherit;

    border: 1px solid gainsboro;
    border-radius: 3px;
        	background: white;
	color: black;
    
}





#so {
	 position: absolute;
    left: 300px;
   color: black;
    font-size:5px;
    top:12px;
}
#scenario {
    position: absolute;
    left: 355px;
   width: 112px;
    height: inherit;
    	background: white;
	color: black;
    border: 1px solid gainsboro;
    border-radius: 3px;
}




#mc {
	 position: absolute;
    left: 478px;
 color: black;
    font-size:5px;
    top:12px;
}


#mapchoosed {
    position: absolute;
    left: 520px;
    width: 112px;
    height: inherit;
    background-color: white;
    color: black;
    border: 1px solid gainsboro;
    border-radius: 3px;
}


#chart_1 {
    position: absolute;
    top: 30%;
    left: 69%;
    width: 30%;
    height: 32%;
}

#chart_2 {
    position: absolute;
    top: 63%;
    left: 69%;
    width: 30%;
    height: 33%;
}

#allmap {
    position: absolute;
    top: 30%;
    left: 1%;
    width: 65%;
    height: 66%;
    border: 1px solid gainsboro;
    background-color: white;
}


#area {
visibility: hidden;
}




#r-result {
    position: absolute;
    width: 900px;
    height: 20px;
    bottom: 25px;
}

.index_head {
    width: 100%;
    height: 60px;
    background-color: #3e73ff;
    color: white;
    position: absolute;
    min-width: 1125px;
    line-height: 60px;
}

.index_logo {
    width: 200px;
    height: 60px;
    float: left;
}

