<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" href="css/start.css" />
		<script src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>

	</head>

	<body onload="getPro()">
		<div id="topf" style="background-color: black;">
			<h1 style="margin-bottom:0;">建筑物边框数据</h1>
		</div>

		<div class="pro_city">
			<form action="" method="post" style="margin:0px;display:inline;">
				省：
				<select id='province_select' onchange="getCity()">
					<option value="province">-请选择-</option>

				</select>
				市：
				<select id='city_select'>
					<option value="city"></option>

				</select>
				区：
				<select id='district_select'>
					<option value="city"></option>
				</select>
				名称:<input type="text" name="nameinput" id="nameinput" value="" /> 地址:
				<input type="text" name="addrinput" id="addrinput" value="" />
				<br /> 经度范围:
				<input type="text" name="loninput" id="loninput" value="" /> 纬度范围:

				<input type="text" name="latinput" id="latinput" value="" /> 类型:
				<input type="text" name="typeinput" id="typeinput" value="" />

				<input type="text" style="display:none" name="t1" id="exportinput" value="export" />
			</form>
			<button id='selectbut' type="submit">查询</button>
			<button id='resetbutton' type="reset">重置</button>

			<iframe src="table.html" id="fra" scrolling="auto">
				<table border="" cellspacing="" cellpadding="">
					<tr><th>Header</th></tr>
					<tr><td>Data</td></tr>
				</table>
			</iframe>

		</div>
		<div id="footer">
			边框数据显示
		</div>

	</body>
	<script type="text/javascript" src="js/area.js"></script>

</html>