<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<link rel="stylesheet" href="index.css"  />
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=kQCfNwYZ429f1S4PGfHEl9KoTbrUSvsV"></script>
	<script type="text/javascript" src="http://api.map.baidu.com/library/CurveLine/1.5/src/CurveLine.min.js"></script>
	<title>添加椭圆</title>
</head>
<body style="height: 95%;">
	<div class="left">
		<div class="right_top" style="border: 1px solid #6495ED;"></div>
		<div class="right_middle" style="border: 1px solid #6495ED;"></div>
		<div class="right_buttom" style="border: 1px solid #6495ED;">
		</div>
	</div>
	<div class="middel" >
		<div id="allmap" ></div>
		<input type="text" value="正在爬取中"></input>
	</div>
	<div class="right">
		<div class="right_top" id="chart_pie"></div>
		<div class="right_middle" id="chart_line"></div>
		<div class="right_buttom">
			<table id="right_table">
				<tr>
					<th>类型</th>
					<th>数据量</th>
					<th>人数</th>
					<th>类型</th>
					<th>数据量</th>
					<th>人数</th>
				</tr>
				<tr>
					<td>郊区</td>
					<td>12312</td>
					<td>233</td>
					<td>城市</td>
					<td>231</td>
					<td>564</td>
				</tr>
				<tr>
					<td>郊区</td>
					<td>12312</td>
					<td>233</td>
					<td>城市</td>
					<td>231</td>
					<td>564</td>
				</tr>
				<tr>
					<td>郊区</td>
					<td>12312</td>
					<td>233</td>
					<td>城市</td>
					<td>231</td>
					<td>564</td>
				</tr>
				<tr>
					<td>郊区</td>
					<td>12312</td>
					<td>233</td>
					<td>城市</td>
					<td>231</td>
					<td>564</td>
				</tr><tr>
					<td>郊区</td>
					<td>12312</td>
					<td>233</td>
					<td>城市</td>
					<td>231</td>
					<td>564</td>
				</tr>
				<tr>
					<td>郊区</td>
					<td>12312</td>
					<td>233</td>
					<td>城市</td>
					<td>231</td>
					<td>564</td>
				</tr>
			</table>
		</div>
		
	</div>
</body>
</html>
<script type="text/javascript" src="../../static/jquery/jquery-1.8.3.min.js" ></script>
<script src="../../static/echarts/echarts.js"></script>
<script type="text/javascript" src="index.js"></script>
