.about_head{
	width: 100%;
	height: 25%;
	top: 60px;
	position: absolute;
	}

	
.logo{
	width: 5%;
	right: 2%;
	position: absolute;
	/*	float: right;*/
	/*text-align: center;
	text-align: right;*/
}

.head_text{
	left: 10%;
	width:70%;
    color:black;
    text-align:center;
    font-size:50px;
    position: absolute;
}

.about_contact{
	width: 70%;
	height: 40%;
	left: 15%;
	top: 20%;
	background: white;
	position: absolute;
	box-shadow: darkgrey 10px 10px 30px 5px ;
}
.contact_1{
	width: 80%;
	height: 30%;
	top: 5%;
	left: 10%;
	position: absolute;
	}

.contact_2{
	width: 80%;
	height: 30%;
	left: 10%;
	top: 30%;
	position: absolute;
}

.contact_3{
	width: 80%;
	height: 30%;
	left: 10%;
	top: 60%;
	position: absolute;
}

.contact_title{
	top: 10%;
	font-size:20px;
	color: black;
	position: absolute;
}
.contact_detail{
	top: 30%;
	font-size:15px;
	color:black;
	position: absolute;
	word-wrap:break-word;
    word-break:break-all;
}


.about_floor{
	width: 100%;
	height: 40%;
	top: 60%;
	position: absolute;
}
.intr_1{
	width: 10.42%;
	height: 100%;
	position: absolute;
}

.intr_2{
	width: 10.42%;
	height: 100%;
	left: 14.02%;
	position: absolute;
}

.intr_3{
	width: 10.42%;
	height: 100%;
	left: 28.125%;
	position: absolute;	
}
.intr_4{
	width: 10.42%;
	height: 100%;
	left: 42.1875%;
	position: absolute;	
}
.intr_5{
	width: 10.42%;
	height: 100%;
	left: 56.25%;
	position: absolute;	
}
.intr_6{
	width: 10.42%;
	height: 100%;
	left: 70.3125%;
	position: absolute;	
}
.intr_7{
	width: 10.42%;
	height: 100%;
	left: 84.375%;
	position: absolute;
}
	
.pic{width: 100%;
	height: 69.44%;
	border:groove;
	border-color: antiquewhite;
	border-radius: 20px;
	border-width: 5px;
	}

.pic_detail{
	width: 100%;
	top: 69.44%;
	text-align: center;
	color:black;
	position: absolute;
	font-size:25px;
	
}
