<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>about</title>
		<link rel="stylesheet" type="text/css" href="about2.css"/>

	</head>
	<body>

<div class="about_head" id="about_head">
			<!--<span><p class="head_text">让数据更直观！灵活多变</p></span>-->
			<br />
			<span><img class="logo" src="../../static/images/huanuo.png"/><br></span>
			<span><img class="logo" src="../../static/images/huanuo_pot.gif"/></span>

</div>

<div class="about_contact">
	<span class="contact_1">
		<b class="contact_title">项目背景:</b>
		<hr />
		<p class="contact_detail">
			基于百度/高德API爬取POI信息，绘制场景多边形，输出自动识别场景信息
			xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
			xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
		</p>
	</span>
	<span class="contact_2">
		<b class="contact_title">团队介绍:</b>
		<hr />
		<p class="contact_detail">
			xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
			xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
			xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
		</p>	
	</span>
	<span class="contact_3">
		<b class="contact_title">联系方式:</b>
		<hr />
		<p class="contact_detail">
			mail:    lei.28.zhang@nokia-sbell.com<br />
			tel:     186xxxxxxxx<br />
			address: xxxxxxxx
		</p>	
	</span>

</div>
<div class="about_floor">
		<span class=intr_1><img class="pic" src="../../static/images/雷增强生活.jpg" /></span>
		<span class=intr_2><img class="pic" src="../../static/images/熊玉琼生活.jpg"/></span>
		<span class=intr_3><img class="pic" src="../../static/images/刘春晓生活.jpg"/></span>
		<span class=intr_4><img class="pic" src="../../static/images/张磊生活.jpg"/></span>
		<span class=intr_5><img class="pic" src="../../static/images/胡哲生活.jpg"/></span>
		<span class=intr_6><img class="pic" src="../../static/images/邹星星生活.jpg"/></span>
		<span class=intr_7><img class="pic" src="../../static/images/马永刚生活.jpg"/></span>
			
	</body>
</html>
<script type="text/javascript" src="../../static/jquery/jquery-1.8.3.min.js" ></script>
<script type="text/javascript" src="about.js" ></script>