<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
		<link rel="stylesheet" href="index.css" />
		<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=kQCfNwYZ429f1S4PGfHEl9KoTbrUSvsV"></script>
		<script type="text/javascript" src="http://api.map.baidu.com/library/CurveLine/1.5/src/CurveLine.min.js"></script>
		<title>首页</title>
	</head>

	<body>
		<div class="chart_modal">
			<div class="modal_title">
				<span>POI完整度</span>
			</div>
			<div class="chart" id="chart_1"></div>
		</div>
		<div class="chart_modal">
			<div class="modal_title"><span>POI数量</span></div>
			<div class="chart" id="chart_2"></div>
		</div>
		<div class="chart_modal">
			<div class="modal_title"><span>POI点数量</span></div>
			<div class="chart" id="chart_3"></div>
		</div>
		<div class="indexMap">
			<div class="modal_title"><span>地图</span></div>
			<div class="allmap" id="indexMap"></div>
		</div>
		<div class="chart_modal">
			<div class="modal_title"><span>POI场景量</span></div>
			<div class="chart" id="chart_4"></div>
		</div>
	</body>

</html>
<script type="text/javascript" src="../../static/jquery/jquery-1.8.3.min.js"></script>
<script src="../../static/echarts/echarts.js"></script>
<script type="text/javascript" src="index.js"></script>